*.csv
*.json
*.log
*.out
*DS_Store
*.pickle
*.pkl
.idea
.pytest_cache
.ipynb_checkpoints
luda_output
__pycache__
personal
vt_key.txt
luda.md

!/test/data_demo.csv
!config.json

!/test/clustering/data/save_test/*
!/test/feeder/data/vt_key.txt
!/test/preprocessor/data/data_preprocessing_test.csv
!/test/regex/data/*
